<%- content_for :title do %>Документация<% end %>

<h2>Документация</h2>

<article>
  <div><h3><%= link_to "Введение", docs_path("introduction") %></h3> <span>Обзор Spine</span></div>
  <div><h3><%= link_to "Начало работы", docs_path("started") %></h3> <span>Начало работы с библиотекой</span></div>
  <div><h3><%= link_to "Контроллеры", docs_path("controllers") %></h3> <span>Введение в контроллеры</span></div>
  <div><h3><%= link_to "Модели", docs_path("models") %></h3> <span>Хранение и манипуляции с данными</span></div>
  <div><h3><%= link_to "События", docs_path("events") %></h3> <span>События контроллеров и пользовательские</span></div>
  <div><h3><%= link_to "Роутинг", docs_path("routing") %></h3> <span>Поддержка HTML5 history и хеш адресов</span></div>
  <div><h3><%= link_to "Представления", docs_path("views") %></h3> <span>JS шаблоны</span></div>
  <div><h3><%= link_to "Примеры", docs_path("example") %></h3> <span>Приложение TodoList</span></div>
  <div><h3><%= link_to "Mobile", mobile_path %></h3> <span>Spine Mobile</span></div>
</article>

<h2>Руководства</h2>

<article>
  <div><h3><%= link_to "Контроллеры", docs_path("controller_patterns") %></h3> <span>Общие абстракции контроллеров</span></div>
  <div><h3><%= link_to "Управление", docs_path("manager") %></h3> <span>Контроллер машина состояний</span></div>
  <div><h3><%= link_to "Формы и Валидации", docs_path("forms") %></h3> <span>Обработка форм и валидация моделей</span></div>
  <div><h3><%= link_to "Ajax", docs_path("ajax") %></h3> <span>Интеграция Ajax с моделями</span></div>
  <div><h3><%= link_to "Hem", docs_path("hem") %></h3> <span>Управление зависимостями с помощью Hem</span></div>
  <div><h3><%= link_to "Spine.app", docs_path("app") %></h3> <span>Генерируем заготовку приложения</span></div>
  <div><h3><%= link_to "Интеграция с Rails", docs_path("rails") %></h3> <span>Интеграция с Rails используя REST</span></div>
  <div><h3><%= link_to "Реальное время", docs_path("realtime") %></h3> <span>Сделай своё приложение в реальном времени!</span></div>
</article>