<%- content_for :title do %>Documentation<% end %>

<h2>Документация</h2>

<article>
  <div>
    <h3><%= link_to "Введение", docs_path("introduction") %></h3>
    <span>Обзорная статья по Spine</span>
  </div>
  <div>
    <h3><%= link_to "Начало работы", docs_path("started") %></h3>
    <span>Быстрый старт разработки со Spine</span>
  </div>
  <div>
    <h3><%= link_to "Контроллеры", docs_path("controllers") %></h3>
    <span>Введение в работу с контроллерами Spine</span>
  </div>
  <div>
    <h3><%= link_to "Модели", docs_path("models") %></h3>
    <span>Хранение данных и манипуляции ими</span>
  </div>
  <div>
    <h3><%= link_to "События", docs_path("events") %></h3>
    <span>События в контроллерах и собственные события</span>
  </div>
  <div>
    <h3><%= link_to "Роутинг", docs_path("routing") %></h3>
    <span>Роутинг в приложениях на Spine используя HTML5 history API</span>
  </div>
  <div>
    <h3><%= link_to "Представления", docs_path("views") %></h3>
    <span>Рендеринг JS шаблонов</span>
  </div>
  <div>
    <h3><%= link_to "Примеры", docs_path("example") %></h3>
    <span>Пример создания TodoList</span>
  </div>
  <div>
    <h3><%= link_to "Spine Mobile", mobile_path %></h3>
    <span>Легковесный фреймворк на базе Spine для мобильных устройств</span>
  </div>
</article>

<h2>Руководства</h2>

<article>
  <div>
    <h3><%= link_to "Шаблоны контроллеров", docs_path("controller_patterns") %></h3>
    <span>Типичные шаблоны контроллеров</span>
  </div>
  <div>
    <h3><%= link_to "Менеджер", docs_path("manager") %></h3>
    <span>Состояния в контроллерах и их переключение</span>
  </div>
  <div>
    <h3><%= link_to "Формы и их валидация", docs_path("forms") %></h3>
    <span>Обработка форм и валидация моделей</span>
  </div>
  <div>
    <h3><%= link_to "Использование Ajax", docs_path("ajax") %></h3>
    <span>Стандартная Ajax интеграция с моделями</span>
  </div>
  <div>
    <h3><%= link_to "Hem", docs_path("hem") %></h3>
    <span>Управление зависимостями используя Hem</span>
  </div>
  <div>
    <h3><%= link_to "Spine.app", docs_path("app") %></h3>
    <span>Генерация приложений Spine</span>
  </div>
  <div>
    <h3><%= link_to "Использование в Rails", docs_path("rails") %></h3>
    <span>Интеграция Spine в Rails используя REST</span>
  </div>
  <div>
    <h3><%= link_to "Приложения реального времени", docs_path("realtime") %></h3>
    <span>Сделай свое Spine приложение работающим в реальном времени!</span>
  </div>
</article>