<% content_for(:title, "Community") %>

<header class="heading">
  <h2>Сообщество</h2>  
</header>

<article>
  <p>Пишите в <%= link_to "гугло группе", "https://groups.google.com/forum/#!forum/spinejs" %>.</p>
  <p>Присоединяйтесь к <a href="irc://irc.freenode.net/#spine">#spine</a> группе на irc.freenode.net.</p>
  <p>Добавляйте тикеты в <%= link_to "гитхабе", "https://github.com/maccman/spine" %>.</p>
  <p>Фоловьте автора, <%= link_to "Alex MacCaw", "http://alexmaccaw.co.uk" %>, в <%= link_to "твиттере", "http://twitter.com/maccman" %>.</p>
  <p>Используйте адрес для писем: <%= mail_to "info@eribium.org" %>.</p>

  <p>Фоловьте переводчика <%= link_to "@antonkopylov", "http://twitter.com/antonkopylov" %> :)</p>
</article>